:root {
    --cell-size: 10em;
    --symbol-size: calc(var(--cell-size) * 0.9);
}

body {
    box-sizing: border-box;
    font-size: 16px;
    height: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 99vw;
    height: 99vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
}

nav {
    grid-row: 1 / 2;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 2px solid;
    border-color: #e83b2b;
    color: #e83b2b;
    background-color: white;
}

nav[data-theme='blueTheme'] {
    color:#72a8db;
    border-color: #72a8db;
    background-color: #FEF9EF;
}

nav[data-theme='beigeTheme'] {
    color: #AD8B73;
    border-color: #AD8B73;
    background-color: #FFFBE9;
}

nav[data-theme='darkTheme'] {
    color: white;
    border-color: white;
    background-color: black;
}

nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    font-size: 2em;
    padding: 1em;
}
nav .buttons{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

nav .buttons div {
    width: 4em;
    display: flex;
    justify-content: center;
}

nav .themeChange {
    position: relative;
}

nav .themeChoice {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    z-index: 1;
    border-radius: 32px;
    border: 4px solid;
    border-color: #e83b2b;
    opacity: 0;
}

nav .themeChoice[data-theme='blueTheme'] {
    background-color:#FEF9EF;
    border-color:#72a8db
}

nav .themeChoice[data-theme='beigeTheme'] {
    border-color: #AD8B73;
    background-color: #FFFBE9;
}

nav .themeChoice[data-theme='darkTheme'] {
    border-color: white;
    background-color: black;
}

nav .themeChoice[data-theme='darkTheme'] .darkTheme {
    color: white;
}

.themeChoice div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.themeChoice .redTheme {
    color: #e83b2b;
}

.themeChoice .blueTheme {
    color: #72a8db
}

.themeChoice .beigeTheme {
    color: #E3CAA5
}

.themeChoice .darkTheme {
    color: black
}

nav .buttons:hover {
    cursor: pointer;
}

.buttons .fa-solid {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
}

.buttons .soundToggle .fa-volume-xmark {
    display: none;
}

.main-content {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    border-color: #e83b2b;
    color: #e83b2b;
}

.main-content[data-theme='blueTheme'] {
    border-color:#72a8db;
    color:#72a8db;
    background-color: #FEF9EF;
}

.main-content[data-theme='beigeTheme'] {
    color: #AD8B73;
    border-color: #AD8B73;
    background-color: #FFFBE9;
}

.main-content[data-theme='darkTheme'] {
    color: white;
    border-color: white;
    background-color: black;
}

.main-content .message {
    text-align: center;
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
}

.main-content .board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'cell1 cell2 cell3'
    'cell4 cell5 cell6'
    'cell7 cell8 cell9';
    justify-items: center;
    align-items: center;
    padding: 2em;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 2px solid;
    border-color: #e83b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell[data-theme='blueTheme'] {
    background-color: #FEF9EF;
    border-color:#72a8db;
}

.cell[data-theme='beigeTheme'] {
    background-color: #FFFBE9;
    border-color:#AD8B73;
}

.cell[data-theme='darkTheme'] {
    background-color: black;
    border-color:white;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before, 
.cell.x::after {
    background-color: #e83b2b;
} 

.cell.x[data-theme='blueTheme']::before,
.cell.x[data-theme='blueTheme']::after {
    background-color: #FF865E
}

.cell.x[data-theme='beigeTheme']::before,
.cell.x[data-theme='beigeTheme']::after {
    background-color: #CEAB93
}

.cell.x[data-theme='darkTheme']::before,
.cell.x[data-theme='darkTheme']::after {
    background-color: white
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: lightgrey;
}

.cell.x::before, 
.cell.x::after, 
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--symbol-size) * 0.15);
    height: var(--symbol-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before {
    background-color: #e83b2b;
}

.cell.o[data-theme='blueTheme']::before {
    background-color: #FEE440;
}

.cell.o[data-theme='beigeTheme']::before {
    background-color: #CEAB93;
}

.cell.o[data-theme='darkTheme']::before {
    background-color: white;
}

.board.o .cell:not(.x):not(.o):hover:before {
    background-color: lightgrey;
}

.cell.o::before, 
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o:before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--symbol-size) * 0.9);
    height: calc(var(--symbol-size) * 0.9);
}

.cell.o::after, 
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--symbol-size) * 0.6);
    height: calc(var(--symbol-size) * 0.6);
    background-color: white;
}

.cell.o[data-theme='blueTheme']::after, 
.board.o .cell[data-theme='blueTheme']:not(.x):not(.o):hover::after {
    background-color:#FEF9EF;
}

.cell.o[data-theme='beigeTheme']::after, 
.board.o .cell[data-theme='beigeTheme']:not(.x):not(.o):hover::after {
    background-color:#FFFBE9;
}

.cell.o[data-theme='darkTheme']::after, 
.board.o .cell[data-theme='darkTheme']:not(.x):not(.o):hover::after {
    background-color:black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.scoreBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 32px;
    overflow: hidden;
}

.scoreBoard[data-theme='blueTheme'] .player1 {
    color:#FF865E
}

.scoreBoard[data-theme='beigeTheme'] .player1 {
    color:#CEAB93
}

.scoreBoard[data-theme='darkTheme'] .player1 {
    color:white
}

.scoreBoard[data-theme='blueTheme'] .player2 {
    color:#FEE440
}

.scoreBoard[data-theme='beigeTheme'] .player2 {
    color:#CEAB93
}

.scoreBoard[data-theme='darkTheme'] .player2 {
    color:white
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.score div {
    padding: 1.2em;
}

.banner {
    background-color: #e83b2b;
    color: white;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner h3 {
    padding-right: 0.5em;
}

.banner .icons {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.icons div {
    padding: 10px;
    width: 2em;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        top: 0px;
    }
    30% {
        opacity: 0;
        top: 18px;
    }
    100% {
        opacity: 1;
        top: 60px;
    }
}
